h1{
    display: flex;
    align-self: flex-start;
    margin-left: 80px;
    color: rgb(231, 230, 163);
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    display: inline-flex;
}

body{
    background-color: #172554;
}

main{
    padding-bottom: 150px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 3px darkgray;
}

#navLinks{
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 30px;;
}

.navLink{
    color: antiquewhite;
    font-size: 24px;
    text-decoration: none;
    margin-bottom: 10px;
    
}

.navLink:hover{
    text-decoration: underline antiquewhite;
}

#projects{
    position:relative;
    margin-top: 100px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 50px;
    justify-content: center;

}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectBox{
    transition: 0.5s;
    border: 3px solid black;
    border-radius: 15px;
    height: 450px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectBox:hover{
    transition: 0.5s;
    width: 450px;
    height: 500px;
}

.projectTitle{
    color: antiquewhite;
    font-size: 32px;
}

.projectCaption{
    color: antiquewhite;
    font-size: 20px;
}

#cv{
    position: relative;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    position: relative;
    margin-top: 50px;
    margin-left: 75px;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
    color:antiquewhite;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 45%;
    height: 150px;
    text-align: center;
}

#contacts{
    color: antiquewhite;
}