h1{
    display: flex;
    justify-content: left;
    margin-left: 20px;
    margin-top: 80px;
    color: rgb(231, 230, 163);
    font-size: 40px;
}

body{
    background-color: #172554;
}

#projects{
    margin-top: 200px;
    display: grid;
    grid-auto-flow: column;
    column-gap: 50px;
    justify-content: center;

}

p{
    height: 450px;
    width: 400px;
    border: 1px solid black;
    justify-self: center;
    align-items: center;
    justify-content: center;
}

.projectTitle{
    display: flex;
    color: antiquewhite;
    font-size: 32px;
}